<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <title>Holy crap! You broke it!</title>
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{error}}</p>    

        </div>

    {{>footer}}
    </body>
</html>