<!DOCTYPE html>
<html>
    <head>
<link rel="icon" href="/img/weather.png">
        <title>This is the About Page</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is one of the learn-by-example sites for 
                Andrew Mead's and Rob Percival's "The Complete Node.js Developer Course 
                (3rd Edition)" accessed on <a href="https://learning.oreilly.com">O'Reilly Learning</a>.
                Also see <a href="https://www.udemy.com/the-complete-nodejs-developer-course-2/">Udemy</a>.
            </p>
            <p>This site uses API's from mapbox.com and darksky.net.</p>
        <img class="portrait" src="/img/photo4.jpg">

        </div>
               {{>footer}} 
    </body>
</html>