<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <title>Ifen yer lukin fer help, yer in the wrong place, pardner</title>
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Todays Hint: {{message}}</p>

        </div>
                
    {{>footer}}
    </body>
</html>